<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/products/create.css">
    <link rel="stylesheet" href="../../../css/main/home.css">
    <link rel="icon" href="../../../img/general/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>ModaSport</title>
</head>
<body>

    <%- include ("../partials/header.ejs") %>
        
    <section class="seccion-login">
           <main class="formulario-login animadoFijo">
               <h1>CREACION DE PRODUCTO</h1>
               <form action="/productos" method="POST" enctype="multipart/form-data">
                   <div class="col-horizontal">
                         <div class="col-vertical">
                             <div class="input-apellido">
                                 <label for="imagen">Imagen: </i></label>
                                 <input type="file" name="imagen" id="imagen"">
                             </div>
                             <div class="input-apellido">
                                 <label for="prenda">Prenda: </i></label>
                                 <input type="text" name="prenda" id="prenda" placeholder="Prenda">
                             </div>
                             <div class="input-email">
                                 <label for="marca">Marca: </i></label>
                                 <input type="text" name="marca" id="marca" placeholder="Marca">
                             </div>
                             <div class="input-contraseña">
                                 <label for="talle">Talle: </label>
                                 <input type="text" name="talle" id="talle" placeholder="Talle">
                             </div>
                         </div>
                         <div class="col-vertical">
                              <div class="input-nombre">
                                  <label for="color">Color: </i></label>
                                  <input type="text" name="color" id="color" placeholder="Color">
                              </div>
                              <div class="input-apellido">
                                  <label for="sexo">Sexo: </label>
                                  <input type="text" name="sexo" id="sexo" placeholder="Sexo">
                              </div>
                              <div class="input-email">
                                  <label for="precio">Precio: </i></label>
                                  <input type="number" name="precio" id="precio" placeholder="Precio">
                              </div>
                              <div class="input-contraseña">
                                  <label for="detalle">Detalle: </label>
                                  <input type="text" name="detalle" id="detalle" placeholder="Detalle">
                              </div>
                              <!-- DETALLE: HOMBRE, MUJER, PROMOCION, ACCESORIO -->
                         </div>
                    </div>
                    <div class="contenedor-boton">
                         <div class="boton-ingresar">
                              <input type="submit" name="" id="" value="Crear">
                         </div>
                   </div>
               </form>
           </main>
   
    </section>

    <%- include ("../partials/footer.ejs") %>


    <script src="../../../js/main/home.js"></script>
    <script src="../../../js/main/menu-hamburguesa.js"></script>

    
</body>
</html>