
/* TABLAR DE LISTADO DE USUARIOS */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8e9eab;  
    background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/fondo-producto.jpg);
    background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/fondo-producto.jpg);
    background-attachment:fixed;
        background-size: cover;
        overflow: hidden; 
}
h1{
    margin: 10vh;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
table{
    width: 80%;
    box-shadow: 2px 2px 5px black;
    height: 100%;
    margin-bottom:10vh ;
}
table, th , td{
    border: rgba(90, 90, 90, 0.5) 1px solid;
    border-collapse:collapse;
}
th,td{
    padding: 3px;
    width: 15%;
}
th{
    text-align: left;
    background-color: white;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}
.id{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}
.nombre, .apellido, .email{
    width: auto;
}
.fila-impar{
    background-color: rgba(202, 200, 200, 0.986);
}
.fila-par{
    background-color: white;
}

/* MEDIDAS PARA TABLET */
@media (max-width: 768px){
        /* TABLA DE LISTADO DE USUARIOS - TABLET */
        
         table{
            height: 60%;
            
        }
        td, th{
            font-size: 3vw;
        }
    }
/* MEDIDAS PARA MOBILE */
@media (max-width: 460px){

/* TABLA DE LISTADO DE USUARIOS - TABLET */

table{
    height: 100%;
    width: 97%;
}

td, th{
    font-size: 3vw;
    height: 100%;
    max-width: 25vw;
    contain:content;
}
button{
    font-size: 3vw;
}
}