*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Animacion JS */

.animado{
    opacity: 0;
    transition: all 1s;
}
.animadoFijo{
    opacity: 0;
    transition: all 1s;
}

/* HEADER */

.header-superior{
    display: flex;
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
.header-izquierda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-izquierda img{
    margin-left: 5%;
    width: 8vh;
    height: 8vh;
    height: 100%;
    border-radius: 50px;
}
.header-izquierda a{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.header-izquierda a:hover{
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
}
.header-nav{
    width: 50%;
    height: 100%;
}
.header-nav nav {
    width: 100%;
    height: 100%;
}
.header-nav nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.header-nav nav ul li{
    list-style: none;
    margin-right: 5%;
}
.header-nav nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.header-nav nav ul li a:hover{
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
}
/* FORMULARIO DE LOGIN */
.seccion-login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;        
    background: #8e9eab;  
    background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/fondo1.jpg);
    background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/fondo1.jpg);
    background-attachment:fixed;
        background-size: cover;
        overflow: hidden; 
}
.formulario-login{
    width: 40%;
    height: 70%;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510c2, #00bf8f8e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510b0, #00bf8f75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color:white
}
h1{
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.formulario-login form{
    height: 70%;
    width: 65%;
}
.formulario-login form div{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-email input, .input-contraseña input{
    margin-right: 10%;

}
.formulario-login form div input{
    height: 30%;
    width: 80%;
    border-radius: 5px;
}
.formulario-login form div label{
    width: 10%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario-login form div label i{
    font-size: 1.5vw;
}


/* FOOTER */
footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgb(27, 27, 27);
}
.footer-superior{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-footer{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-footer h4{
    width: 100%;
    height: 50%;
    border-bottom:rgb(8, 4, 58);
}
.info-footer h5{
    margin-top: 3%;
    width: 100%;
    height: 50%;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom:rgb(8, 4, 58);
   
}