*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Animacion JS */

.animado{
    opacity: 0;
    transition: all 1s;
}
.animadoFijo{
    opacity: 0;
    transition: all 1s;
}

/* HEADER */

.header-superior{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.logo{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.div-logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.div-logo a{
    text-decoration: none;
    color:  white;
    font-weight: 600;
    padding: 0 8%;
    width: 30%;
}
.div-logo a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu-hamburguesa{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 4vh;
}
.enlaces-menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.enlaces-menu li{
    padding: 0 5%;
    list-style-type: none;
}
.enlaces-menu li a{
    text-decoration: none;
    color:  white;
    font-weight: 600;
}
.enlaces-menu li a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

/* FONDO HEADER */

.fondo-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8e9eab;  
background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/ropadeportiva2.jpg);
background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/ropadeportiva2.jpg);
background-attachment:fixed;
	background-size:cover;
    overflow: hidden;
        background-position:center ;
    
}

/* FORMULARIO DE LOGIN */
.seccion-login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;        
    background: #8e9eab;  
    background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/fondo10.jpg);
    background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/fondo10.jpg);
    background-attachment:fixed;
        background-size: cover;
        overflow: hidden; 
}
.formulario-login{
    width: 40%;
    height: 80%;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510c2, #00bf8f8e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510b0, #00bf8f75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color:white;
   box-shadow: 2px 2px 3px black;
   margin-top: 3%;
}
h1{
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
}
h4{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
}
.formulario-login form{
    height: 70%;
    width: 65%;
}
.formulario-login form div{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-email input, .input-contraseña input,.input-nombre input,.input-apellido input{
    margin-right: 10%;

}
.formulario-login form div input{
    height: 50%;
    width: 80%;
    border-radius: 5px;
}
.formulario-login form div label{
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario-login form div label i{
    font-size: 1.5vw;
}
.boton-ingresar input:hover{
    background-color: #00bf8f38;
    color: white;
    cursor:pointer;
}
.frase-inferior-formulario a{
    color: rgba(255, 255, 0, 0.7);
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}
.frase-inferior-formulario a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 0, 0.8);
}


/* FOOTER */
footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgb(27, 27, 27);
}
.footer-superior{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-footer{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-footer h4{
    width: 100%;
    height: 50%;
    border-bottom:rgb(8, 4, 58);
}
.info-footer h5{
    margin-top: 3%;
    width: 100%;
    height: 50%;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom:rgb(8, 4, 58);  
}


/* MEDIDAS PARA TABLET */
@media (max-width: 768px){
    
    /* HEADER SUPERIOR - TABLET */
    
        .menu-hamburguesa{
            display: block;
            position: absolute;
            top: 15px;
            right: 25px;
        }
        .div-logo{
            position: absolute;
            top: 2px;
        }
        .div-logo a{
            padding: 0;
            padding-left: 5%;
            width: auto;
        }
        
        .enlaces-menu{  
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 45vh;
            background-color: rgba(0, 0, 0, 0.8);
    
            padding-top: 9vh;
            display: none;
        }
        .enlaces-menu li{
            height: 20%;
            width: 50%;
        }
        .enlaces-menu li a:hover{
            text-decoration: underline;
            text-shadow: 1px 1px 1px black;
        }
        .enlaces-menu.activado{
            display: flex;
        }
    
/* FONDO HEADER - TABLET */

.fondo-header{
    background-position: center;
}
/* FORMULARIO DE LOGIN - TABLET*/
.formulario-login{
    width: 65%;
}
h1{
    height: 10%;
}
h4{
    height: 10%;
}
.formulario-login form{
    width: 80%;
}
.formulario-login form div label i{
    font-size: 2.5vw;
}
   
    /* FOOTER - TABLET */
    .footer-superior{
        justify-content: space-around;
    }
    .info-footer{
        width: 33%;
    }
    }
/* MEDIDAS PARA MOBILE */
@media (max-width: 460px){

    /* HEADER SUPERIOR - MOBILE */
      .div-logo{
          width: 85%;
      }
      .div-logo a{
          padding:0 ;
          padding-left: 5%;
      }
    /* FONDO HEADER - TABLET */

    .fondo-header{
        background-position:center ;
    }
/* FORMULARIO DE LOGIN - MOBILE */
.formulario-login{
    width: 85%;
    height: 70%;
}
h1{
    height: 10%;
    font-size: 4.5vw;
}
h4{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
    height: 10%;
    font-size: 4vw;
    
    
}
.formulario-login form{
    width: 95%;
    height: 80%;
}
.formulario-login form div input{
    height: 45%;
    width: 85%;
}
.formulario-login form div label{
    height:40%;
}
.formulario-login form div label i{
    font-size: 5.5vw;
    margin-right: 5%;
}
.frase-inferior-formulario a{
   width: auto;
   display: flex;
   flex-direction: row;
}
  
    /* FOOTER - MOBILE */
    footer{
        height: 40vh;
    }
}