<footer>
    <div class="footer-superior">
        <article class="info-footer">
            <h4>Teléfono de contacto</h4>
            <h5>3816097754</h5>
        </article>
        <article class="info-footer">
            <h4>E-mail</h4>
            <h5>joaquin.fuentes1327@gmail.com</h5>
        </article>
        <article class="info-footer">
            <h4>Dirección</h4>
            <h5>España 2456 - Barrio Jardín - San Miguel de Tucumán</h5>
        </article>
    </div>
    <div class="footer-inferior">
        <h2>© Joaquin Fuentes</h2>
    </div>
</footer>