<header>
<div class="header-superior animadoFijo">
    <nav>
       <div class="div-logo">
            <img class="logo" src="../../../img/general/favicon.png" alt=""></a>
            <a href="/usuarios/ingresar">Ingresar</a>
            <a href="/usuarios/registro">Registro</a>
       </div><a href="/">
       <ul class="enlaces-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/productos/crear">Crear producto</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Contacto</a></li>
       </ul>
       <button class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
       </button>
    </nav>
</div>
</header>
