<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main/home.css">
    <link rel="icon" href="../../../img/general/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Moda Sport</title>
</head>
<body>
    <header>
        <div class="header-superior animadoFijo">
            <nav>
               <div class="div-logo">
                    <img class="logo" src="../../../img/general/favicon.png" alt=""></a>
                    <a href="/usuarios/login">Ingresar</a>
                    <a href="/usuarios/registro">Registro</a>
               </div><a href="/">
               <ul class="enlaces-menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Contacto</a></li>
               </ul>
               <button class="menu-hamburguesa">
                    <i class="fas fa-bars"></i>
               </button>
            </nav>
       </div>
        <div class="fondo-header">
             <h1 class="animadoHeaderIzquierda">Moda Sport</h1>
             <h2 class="animadoHeaderDerecha">Las mejores marcas, al mejor precio!</h2>
        </div>
    </header>

    <section class="section-nuestros-productos" > 
        <h2 class="titulo animado" > Nuestros Productos </h2>
        <div class="tipos-productos animado">
            <div class="foto-tipos-productos">
                <img src="../../../img/general/ropadeportiva.jpg" alt="FOTO">
            </div>
            <main class="nuestros-productos">
                <div class="ropa-deportiva">
                    <h3>
                        <span>1</span>
                        <a href="/productos">Ropa deportiva</a>
                    </h3>
                    <p>Encontrá las mejores prendas deportivas para hombre y mujer, al mejor precio!</p>
                </div>
                <div class="accesorios">
                    <h3>
                        <span>2</span>
                        <a href="/productos/#accesorios">Accesorios</a>
                    </h3>
                    <p>Encontrá las mejores prendas deportivas para hombre y mujer, al mejor precio! </p>
                </div>
            </main>
        </div>
    </section>
    <section class="nuevos-ingresos">
        <h2 class="titulo animado">Nuevos ingresos </h2>
        <main>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/mujerremera4.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/mujerremera.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/mujercalsa2.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/mujercalsa3.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/remerahombre.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/remerahombre2.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/general/pantalonhombre2.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>

            </article>
            <article class="tarjeta-producto animado">
                   <img src="../../../img/general/pantalonhombre3.jpg" alt="foto-producto">
                   <div class="hover-info">
                        <ul>
                             <li>Prenda</li>
                             <li>Marca</li>
                             <li>Talle</li>
                             <li>Color</li>
                             <li>Sexo</li>
                             <li>Precio</li>
                             <li><a href="">Agregar al carrito</a></li>
                        </ul>
                    </div>

            </article>
        </main>
    </section>
    <section class="promociones">
        <h2 class="titulo animado">Promociones</h2>
        <main>
            <article class="tarjeta-producto-promociones animado">
                <div class="img-producto">
                    <img src="../../../img/general/conjuntohombre3.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>
            </article>
            <article class="tarjeta-producto-promociones animado">
                <div class="img-producto">
                    <img src="../../../img/general/conjuntomujer2.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>
            </article>
            <article class="tarjeta-producto-promociones animado">
                <div class="img-producto">
                    <img src="../../../img/general/conjuntohombre.jpg" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li>Prenda</li>
                        <li>Marca</li>
                        <li>Talle</li>
                        <li>Color</li>
                        <li>Sexo</li>
                        <li>Precio</li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>
            </article>
        </main>
    </section>
    <section class="nuestros-servicios">
        <h2 class="titulo animado">Nuestros servicios</h2>
        <main class="servicios">
            <article class="servicio animado">
                <i class="fas fa-truck"></i>
                <h5>Realizamos envios</h5>
            </article>
            <article class="servicio animado">
                <i class="fas fa-credit-card"></i>
                <h5>Recibimos tarjetas de débito y de crédito</h5>
            </article>
            <article class="servicio animado">
                <i class="fas fa-mobile-alt"></i>
                <h5>Podes hacer tu pedido desde cualquier dispositivo</h5>
            </article>
        </main>
    </section>
    <footer>
        <div class="footer-superior">
            <article class="info-footer">
                <h4>Teléfono de contacto</h4>
                <h5>3816097754</h5>
            </article>
            <article class="info-footer">
                <h4>E-mail</h4>
                <h5>joaquin_eas@hotmail.com</h5>
            </article>
            <article class="info-footer">
                <h4>Dirección</h4>
                <h5>España 2456 - Barrio Jardín - San Miguel de Tucumán</h5>
            </article>
        </div>
        <div class="footer-inferior">
            <h2>© Joaquin Fuentes</h2>
        </div>
    </footer>
    <script src="../../../js/main/home.js"></script>
    <script src="../../../js/main/menu-hamburguesa.js"></script>
</body>
</html>