*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Animacion JS */

.animado{
    opacity: 0;
    transition: all 1s;
}
.animadoFijo{
    opacity: 0;
    transition: all 1s;
}

.animadoHeaderIzquierda{
    opacity: 0;
    transition: all 2s;
    animation: mostrarIzquierda 3s;
}
.animadoHeaderDerecha{
    opacity: 0;
    transition: all 2s;
    animation: mostrarDerecha 3s;
}

 @keyframes mostrarIzquierda{
  0%{
      transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0vw);
}
    }
 @keyframes mostrarDerecha{
    from{
        margin-left: 100vw;
      }
      to {
         margin-left: 0;
      }
    }


/* HEADER */

.header-superior{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.logo{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.div-logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.div-logo a{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    padding: 0 8%;
    width: 30%;
}
.div-logo a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu-hamburguesa{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 4vh;
}
.enlaces-menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.enlaces-menu li{
    padding: 0 5%;
    list-style-type: none;
}
.enlaces-menu li a{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
}
.enlaces-menu li a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

/* FONDO HEADER */

.fondo-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/ropadeportiva2.jpg);
background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/ropadeportiva2.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: top;
    
}
.fondo-header h1{
    font-size: 4vw;
    color: white;
    text-shadow: 5px 5px 7px black;
    margin: 0;
    width: 100%;
    text-align: center;
}
.fondo-header h2{
    font-size: 3vw;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px black;
    margin: 0;
    width: 100%;
    text-align: center;
}
/* SECCION PRODUCTOS */

.titulo{
    text-align: center;
    color:rgb(8, 4, 58);
    margin: 2%;
    font-size: 2vw;
}
.productos{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productos main{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta-producto{
    width: 24%;
    height: 49%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta-producto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:#213a53b6;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjeta-producto:hover .hover-info{
        transform: scale(1);
}
.hover-info ul li{
    text-align: center;
    list-style: none;
    margin-bottom: 6%;
    color: white;
}
.hover-info ul li a{
    color: yellow;
    text-decoration: none;
}
.hover-info ul li a:hover{
    text-decoration: underline;
}

/* FOOTER */
footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgb(27, 27, 27);
    margin-top: 4%;
}
.footer-superior{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-footer{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-footer h4{
    width: 100%;
    height: 50%;
    border-bottom:rgb(8, 4, 58);
}
.info-footer h5{
    margin-top: 3%;
    width: 100%;
    height: 50%;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom:rgb(8, 4, 58);
   
}
    
/* MEDIDAS PARA TABLET */
@media (max-width: 768px){
    
    /* HEADER SUPERIOR - TABLET */
    
        .menu-hamburguesa{
            display: block;
            position: absolute;
            top: 15px;
            right: 25px;
        }
        .div-logo{
            position: absolute;
            top: 2px;
        }
        .div-logo a{
            padding: 0;
            padding-left: 5%;
            width: auto;
        }
        
        .enlaces-menu{  
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 45vh;
            background-color: rgba(0, 0, 0, 0.8);
    
            padding-top: 9vh;
            display: none;
        }
        .enlaces-menu li{
            height: 20%;
            width: 50%;
        }
        .enlaces-menu li a:hover{
            text-decoration: underline;
            text-shadow: 1px 1px 1px black;
        }
        .enlaces-menu.activado{
            display: flex;
        }
    
    /* PRODUCTOS - TABLET */
    
    .titulo{
        font-size: 3.5vw;
    }
    .tarjeta-producto{
        width: 30%;
        height: 32%;
    }
    /* FOOTER - TABLET */
    .footer-superior{
        justify-content: space-around;
    }
    .info-footer{
        width: 33%;
    }
    }
/* MEDIDAS PARA MOBILE */
@media (max-width: 460px){

    /* HEADER SUPERIOR - MOBILE */
      .div-logo{
          width: 85%;
      }
      .div-logo a{
          padding:0 ;
          padding-left: 5%;
      }
    /* FONDO HEADER - MOBILE */
    
    .fondo-header h1{
        font-size: 12vw;
       margin-bottom: 10%;
    }
    .fondo-header h2{
        font-size: 8vw;
        width: 80%;
    }
    
    /* PRODUCTOS - MOBILE */
    
    .titulo{
        font-size: 6vw;
    }
    .productos{
        height: 100%;
    }
    .tarjeta-producto{
        width: 40%;
        height: 22vh;
        margin: 2%
    }
    .hover-info ul li{
        font-size: 2vh;
        margin-bottom: 2%;
        color: white;
    }
    
/* FOOTER - MOBILE */
footer{
    height: 50vh;
}
.footer-superior{
    height: 60%;
    flex-direction: column;
}
.info-footer{
    width: 90%;
    height: 25%;
}
.info-footer h4{
    height: auto;
}
.info-footer h5{
    margin-top:0;
    height: auto;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40%;
}

    }
    