<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/user/login.css">
    <link rel="icon" href="../../../img/general/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Moda Sport</title>
</head>
<body>
    <header>
        <div class="header-superior animadoFijo">
            <nav>
               <div class="div-logo">
                    <img class="logo" src="../../../img/general/favicon.png" alt=""></a>
                    <a href="/usuarios/login">Ingresar</a>
                    <a href="/usuarios/registro">Registro</a>
               </div><a href="/">
               <ul class="enlaces-menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/contacto">Contacto</a></li>
               </ul>
               <button class="menu-hamburguesa">
                    <i class="fas fa-bars"></i>
               </button>
            </nav>
       </div>
      
    </header>
    <section class="seccion-login">
        <main class="formulario-login animadoFijo">
            <h1>LOGIN</h1>
            <form action="">
                <div class="input-email">
                    <label for="email"><i class="fas fa-envelope"></i></label>
                    <input type="text" name="email" id="email" placeholder="E-mail">
                </div>
                <div class="input-contraseña">
                    <label for="contraseña"><i class="fas fa-lock"></i></label>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                </div>
                <div class="boton-ingresar">
                    <input type="submit" name="" id="" value="Ingresar">
                </div>


            </form>
            <h4 class="frase-inferior-formulario">¿Aún no estas registrado?  <a href="/usuarios/registro">   Click aquí!</a></h4>

        </main>

    </section>
    
    <footer>
        <div class="footer-superior">
            <article class="info-footer">
                <h4>Teléfono de contacto</h4>
                <h5>3816097754</h5>
            </article>
            <article class="info-footer">
                <h4>E-mail</h4>
                <h5>joaquin_eas@hotmail.com</h5>
            </article>
            <article class="info-footer">
                <h4>Dirección</h4>
                <h5>España 2456 - Barrio Jardín - San Miguel de Tucumán</h5>
            </article>
        </div>
        <div class="footer-inferior">
            <h2>© Joaquin Fuentes</h2>
        </div>
    </footer>
    <script src="../../../js/main/home.js"></script>
    <script src="../../../js/main/menu-hamburguesa.js"></script>
</body>
</html>