*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{

background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f38f, #8e9eab98);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f38f, #8e9eabb2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Animacion JS */

.animado{
    opacity: 0;
    transition: all 1s;
}
.animadoFijo{
    opacity: 0;
    transition: all 1s;
}
.animadoHeaderIzquierda{
    opacity: 0;
    transition: all 2s;
    animation: mostrarIzquierda 3s;
}
.animadoHeaderDerecha{
    opacity: 0;
    transition: all 2s;
    animation: mostrarDerecha 3s;
}

 @keyframes mostrarIzquierda{
  0%{
      transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0vw);
}
    }
 @keyframes mostrarDerecha{
    from{
        margin-left: 100vw;
      }
      to {
         margin-left: 0;
      }
    }

/* HEADER */

.header-superior{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.logo{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.div-logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.div-logo a{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    padding: 0 8%;
    width: 30%;
}
.div-logo a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menu-hamburguesa{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 4vh;
}
.enlaces-menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.enlaces-menu li{
    padding: 0 5%;
    list-style-type: none;
}
.enlaces-menu li a{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
}
.enlaces-menu li a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
/* FONDO HEADER */

.fondo-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #8e9eab ;
background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/runningHeader2.jpg);
background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/runningHeader2.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.fondo-header h1{
    font-size: 6vw;
    color: white;
    text-shadow: 5px 5px 7px black;
    margin: 0;
    width: 100%;
    text-align: center;
}
.fondo-header h2{
    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px black;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* SECCION "NUESTROS PRODUCTOS" */
.section-nuestros-productos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo{
    text-align: center;
    color:rgb(8, 4, 58);
    margin: 2%;
    font-size: 2vw;
}
.tipos-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    margin-top: 2%;
    
}
.foto-tipos-productos{
    width: 50%;
    height: 100%;
}
.foto-tipos-productos img{
    width: 100%;
    height: 100%;
}
.nuestros-productos{
    width: 50%;
    height: 100%;
}
.ropa-deportiva{
    width: 100%;
    height: 40%;
}
.accesorios{
    width: 100%;
    height: 40%;
}
.ropa-deportiva h3, .accesorios h3{
    margin-left: 3% ;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;

}

.ropa-deportiva h3 a, .accesorios h3 a{
    margin-left: 3%;
    color:rgb(8, 4, 58);
    text-decoration: none;
}
.ropa-deportiva h3 a:hover, .accesorios h3 a:hover{
    text-decoration: underline;
}

.ropa-deportiva h3 span, .accesorios h3 span{
    background: #2c3e50b6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);  
}

.ropa-deportiva p, .accesorios p{
    margin-left: 3% ;
    margin-top: 3%;
    width: 100%;
}
/* SECCION NUEVOS INGRESOS */
.nuevos-ingresos{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nuevos-ingresos main{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta-producto{
    width: 24%;
    height: 49%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 4px;
}
.tarjeta-producto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:#213a53b6;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjeta-producto:hover .hover-info{
        transform: scale(1);
}
.hover-info ul li{
    text-align: center;
    list-style: none;
    margin-bottom: 6%;
    color: white;
}
.hover-info ul li a{
    color: yellow;
    text-decoration: none;
}
.hover-info ul li a:hover{
    text-decoration: underline;
}

/* SECCION DE PROMOCIONES */
.promociones{
    margin-top: 3%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.promociones main{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta-producto-promociones{
    width: 30%;
    height: 80%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 4px;
}

.tarjeta-producto-promociones img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tarjeta-producto-promociones:hover .hover-info{
    transform: scale(1);
}
/* SECCION NUESTROS SERVICIOS */
.nuestros-servicios{
    width: 100%;
    height: 60vh;
}
.servicios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
}
.servicio{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.servicio h5, .servicio i{
    font-size: 20px;
    color:rgb(8, 4, 58);
}
.servicios h5{
    height: 35%;
    width: 100%;
}
.servicios i{
    height: 35%;
    width: 100%;
}
/* FOOTER */
footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: rgb(27, 27, 27);
}
.footer-superior{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-footer{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-footer h4{
    width: 100%;
    height: 50%;
    border-bottom:rgb(8, 4, 58);
}
.info-footer h5{
    margin-top: 3%;
    width: 100%;
    height: 50%;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-bottom:rgb(8, 4, 58);
   
}
/* MEDIDAS PARA TABLET */
@media (max-width: 768px){
    
/* HEADER SUPERIOR - TABLET */

    .menu-hamburguesa{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }
    .div-logo{
        position: absolute;
        top: 2px;
    }
    .div-logo a{
        padding: 0;
        padding-left: 5%;
        width: auto;
    }
    
    .enlaces-menu{  
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 45vh;
        background-color: rgba(0, 0, 0, 0.8);

        padding-top: 9vh;
        display: none;
    }
    .enlaces-menu li{
        height: 20%;
        width: 50%;
    }
    .enlaces-menu li a:hover{
        text-decoration: underline;
        text-shadow: 1px 1px 1px black;
    }
    .enlaces-menu.activado{
        display: flex;
    }

/* SECCION "NUESTROS PRODUCTOS" - TABLET */

.section-nuestros-productos{
    height: 70vh;
}
.titulo{
    font-size: 3.5vw;
}
.tipos-productos{
    height: 70%;  
}
.ropa-deportiva, .accesorios{
    height: 50%;
}
.ropa-deportiva h3 span, .accesorios h3 span{
    padding: 2%;  
}
/* NUEVOS INGRESOS - TABLET */

.tarjeta-producto{
    width: 30%;
    height: 32%;
}

/* SECCION DE PROMOCIONES - TABLET */
.promociones{
    height: 60vh;
}

/* SECCION NUESTROS SERVICIOS - TABLET */
.nuestros-servicios{
    width: 100%;
    height: 60vh;
}
.servicios{
    align-items:flex-start;
    padding-top: 7%;
}
.servicio{
    width: 33%;
    padding-right: 2%;
    padding-left: 2%;
}
/* FOOTER - TABLET */
.footer-superior{
    justify-content: space-around;
}
.info-footer{
    width: 33%;
}
}
/* MEDIDAS PARA MOBILE */
@media (max-width: 460px){

/* HEADER SUPERIOR - MOBILE */
  .div-logo{
      width: 85%;
  }
  .div-logo a{
      padding:0 ;
      padding-left: 5%;
  }
.fondo-header h1{
    font-size: 12vw;
   margin-bottom: 10%;
}
.fondo-header h2{
    font-size: 8vw;
    width: 80%;
}

/* SECCION "NUESTROS PRODUCTOS" - MOBILE */
.section-nuestros-productos{
    width: 100%;
    height: 100vh;
}
.titulo{
    font-size: 6vw;
}
.tipos-productos{
    flex-direction: column;
    width: 90%;
    height: 90%;
}
.foto-tipos-productos{
    width: 95%;
    height: 50%;
}
.nuestros-productos{
    margin-top: 2%;
    width: 95%;
    height: 50%;
}
.ropa-deportiva{
   margin-top: 3%;
}
.ropa-deportiva h3 span, .accesorios h3 span{
    padding: 1.5%;
    
}

/* SECCION NUEVOS INGRESOS - MOBILE */
.nuevos-ingresos{
    height: 100%;
}
.tarjeta-producto{
    width: 40%;
    height: 22vh;
    margin: 2%
}
.hover-info ul li{
    font-size: 2vh;
    margin-bottom: 2%;
    color: white;
}

/* SECCION DE PROMOCIONES - MOBILE */
.promociones{
    height: 100%;
}
.tarjeta-producto-promociones{
    width: 40%;
    height: 30vh;
    margin-top: 2%;
   
}
/* SECCION NUESTROS SERVICIOS - MOBILE*/
.nuestros-servicios{
    margin-top: 15%;
    height: 80vh;
}
.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
}
.servicio{
    width: 90%;
    height: 30%;
  
}
.servicios h5{
    height:auto;
}
.servicios i{
    height: auto;
}
/* FOOTER - MOBILE */
footer{
    height: 50vh;
}
.footer-superior{
    height: 60%;
    flex-direction: column;
}
.info-footer{
    width: 90%;
    height: 25%;
}
.info-footer h4{
    height: auto;
}
.info-footer h5{
    margin-top:0;
    height: auto;
}
.footer-inferior{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40%;
}

}