*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{

    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f38f, #8e9eab98);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f38f, #8e9eabb2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
/* HEADER */

.header-superior{
    display: flex;
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
.header-izquierda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-izquierda img{
    margin-left: 5%;
}
.header-izquierda a{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.header-izquierda a:hover{
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
}
.header-nav{
    width: 50%;
    height: 100%;
}
.header-nav nav {
    width: 100%;
    height: 100%;
}
.header-nav nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.header-nav nav ul li{
    list-style: none;
    margin-right: 5%;
}
.header-nav nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.header-nav nav ul li a:hover{
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
}
/* FONDO HEADER */

.fondo-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8e9eab;  
background: -webkit-linear-gradient(to right, #eef2f331, #8e9eabcb),url(../../img/general/runningHeader2.jpg);
background: linear-gradient(to right, #eef2f323, #8e9eabd3), url(../../img/general/runningHeader2.jpg);
background-attachment: contain;
	background-size: cover;
}
.fondo-header h1{
    font-size: 6vw;
    color: white;
    text-shadow: 5px 5px 7px black;
}
.fondo-header h2{
    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px black;
}

/* SECCION "NUESTROS PRODUCTOS" */
.section-nuestros-productos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titulo{
    text-align: center;
    color:rgb(8, 4, 58);
    margin: 2%;
    font-size: 2vw;
}
.tipos-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    margin-top: 2%;
    
}
.foto-tipos-productos{
    width: 50%;
    height: 100%;
}
.foto-tipos-productos img{
    width: 100%;
    height: 100%;
}
.nuestros-productos{
    width: 50%;
    height: 100%;
}
.ropa-deportiva{
    width: 100%;
    height: 40%;
}
.accesorios{
    width: 100%;
    height: 40%;
}
.ropa-deportiva h3, .accesorios h3{
    margin-left: 3% ;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;

}

.ropa-deportiva h3 a, .accesorios h3 a{
    margin-left: 3%;
    color:rgb(8, 4, 58);
    text-decoration: none;
}
.ropa-deportiva h3 a:hover, .accesorios h3 a:hover{
    text-decoration: underline;
}

.ropa-deportiva h3 span, .accesorios h3 span{
    background: #2c3e50b6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);  
}

.ropa-deportiva p, .accesorios p{
    margin-left: 3% ;
    margin-top: 3%;
    width: 100%;
}
/* SECCION NUEVOS INGRESOS */
.nuevos-ingresos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nuevos-ingresos main{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta-producto{
    width: 24%;
    height: 49%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 4px;
}
.tarjeta-producto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:#213a53b6;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjeta-producto:hover .hover-info{
        transform: scale(1);
}
.hover-info ul li{
    text-align: center;
    list-style: none;
    margin-bottom: 6%;
    color: white;
}
.hover-info ul li a{
    color: yellow;
    text-decoration: none;
}
.hover-info ul li a:hover{
    text-decoration: underline;
}